body{font-family: Arial, Helvetica, sans-serif;}

h1{color: hotpink;border-bottom: 10px;

}
h3{color: rgb(187, 180, 180);

}

hr{ border-style: none;
    border-bottom: dotted;
    width: 100%;
    border-color: purple;
    border-width: 10px;

}
ul {border-style: solid;
    border-color: purple;

}